@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model FortniteEmpire.Models.CompetitionPost
@{
    Layout = "_Layout";
}

<h1>Create Blog Post</h1>

<fieldset>

    <form asp-action="Create" asp-controller="Competition">

        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>

        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Competition Name" />
            <span asp-validation-for="Name"></span>
        </p>

        <p>
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" placeholder="Blog post content"></textarea>
            <span asp-validation-for="Body"></span>
        </p>

        <p>
            <button type="submit">Create Post</button>
        </p>

    </form>

</fieldset>
