@model IEnumerable<FortniteEmpire.Models.NewsPost>
@{
    Layout = "_Layout";
}

<div class="news-container">
    
    <div class="top-content">
        <h1>Fortnite Empire News</h1>
        <a class="create-btn" href="@Url.Action("Create", "News")">Create</a>
    </div>

    @if (Model.Any())
    {
        <p>
            @if (ViewBag.HasPreviousPage)
            {
                <a href="@Url.Action("Index", "News", new { page = ViewBag.PreviousPage })">
                    &lt; Previous
                </a>
            }

            @if (ViewBag.HasNextPage)
            {
                <a href="@Url.Action("Index", "News", new { page = ViewBag.NextPage })">
                    Next &gt;
                </a>
            }
        </p>
    }

    <div>
        @foreach (var post in Model)
        {
            @await Html.PartialAsync("_NewsPost", post)
        }
    </div>

</div>
